<!-- <div class="card"> -->
<div class="card-body">
    <h5 class="card-title">Title</h5>
    <p>Modals have three optional sizes, available via modifier classes to be placed on a
        . These sizes kick in at certain breakpoints to avoid horizontal scrollbars on
        narrower viewports..</p>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()" style="margin-right: 10px;">
            Close
        </button>
        <button type="button" class="btn btn-primary">Confirm</button>
    </div>

</div>
<!-- </div> -->