<app-header></app-header>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Anti-Counterfeit Report System</h1>
        <!-- <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav> -->
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Report Form</h5>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
                            <div class="col-md-12">
                                <label for="inputName5" class="form-label">
                                    Product <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName5" formControlName="product">
                                <div *ngIf="form.controls['product'].invalid && form.controls['product'].touched"
                                    class="text-danger">
                                    Product is required.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail5" class="form-label">
                                    Shop Name <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputEmail5" formControlName="shop">
                                <div *ngIf="form.controls['shop'].invalid && form.controls['shop'].touched"
                                    class="text-danger">
                                    Shop Name is required.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <app-ddl-category (categorySelected)="form.controls['category_id'].setValue($event)"
                                    formControlName="category_id"></app-ddl-category>
                            </div>
                            <div class="col-md-6">
                                <app-ddl-district (districtSelected)="onDistrictSelected($event)"
                                    formControlName="district_id"></app-ddl-district>
                            </div>
                            <div class="col-md-6">
                                <app-ddl-sub-district
                                    (subDistrictSelected)="form.controls['sub_district_id'].setValue($event)"
                                    [districtId]="selectedDistrictId"
                                    formControlName="sub_district_id"></app-ddl-sub-district>
                            </div>
                            <div class="col-md-6">
                                <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                                <input type="date" class="form-control" formControlName="date">
                            </div>
                            <div class="col-md-6">
                                <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                                <input type="time" class="form-control" formControlName="time">
                            </div>
                            <div class="col-12">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>
                                <textarea class="form-control" formControlName="address"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Phone</label>
                                <input type="number" class="form-control" formControlName="phone">
                            </div>
                            <div class="col-md-6">
                                <label for="inputText" class="col-sm-4 col-form-label">Website</label>
                                <input type="text" class="form-control" formControlName="website">
                            </div>
                            <div class="col-12">
                                <label for="formFile" class="col-sm-2 col-form-label">File Upload</label>
                                <input class="form-control" type="file" id="formFile" (change)="onFileChange($event)"
                                    formControlName="fileUpload" *ngIf="!isFileUploadDisabled">
                            </div>
                            <div class="col-12">
                                <div class="uploaded-images">
                                    <div *ngFor="let image of images; let i = index" class="uploaded-image">
                                        <img [src]="getImageUrl(image)" alt="Uploaded Image">
                                        <div class="remove-image">
                                            <button type="button" class="btn btn-link" (click)="removeImage(i)">
                                                Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
                                <textarea class="form-control" style="height: 100px"
                                    formControlName="description"></textarea>
                            </div>
                            <div class="col-md-12 text-left">
                                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                                    style="margin-right: 10px;">Submit</button>
                                <button type="reset" class="btn btn-secondary" (click)="form.reset()">Clear</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
